*{
    background-color: #f7f7f9;
    margin-top: 0;
}

#fun1{
    margin-left: 2.5vw;
    background-color: #f7f7f9;
}
#funaf{
    background-color: #f7f7f9;
}
#funaf h1{
    margin-left: 2.5vw;
}
.vid{
    background-color: #f7f7f9;
}
body{
    background-color: #f7f7f9;
}